	<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-profile">
						<div class="clearfix">
							<!-- LEFT COLUMN -->
							<div class="profile-left">
								<!-- PROFILE HEADER -->
								<div class="profile-header">
									<div class="overlay"></div>
									<div class="profile-main" style="background-image:url({{HomeCtrl.usuario.fundo || './assets/img/profile-bg.png'}});">
										<img style="width:90px;height:90px;" src="{{HomeCtrl.usuario.foto || './assets/img/user-medium.png'}}" class="img-circle" alt="Avatar">
										<h3 class="name">{{HomeCtrl.usuario.nome}}</h3>
										<span class="online-status status-available">Online</span>
									</div>
									<div class="profile-stat">
										<div class="row">
											<div class="col-md-4 stat-item">
												{{HomeCtrl.countGame.concluido}} <span>Concluído(s)</span>
											</div>
											<div class="col-md-4 stat-item">
												{{HomeCtrl.countGame.pendente}} <span>Pendente(s)</span>
											</div>
											<div class="col-md-4 stat-item">
												{{HomeCtrl.countGame.andamento}} <span>Em progresso(s)</span>
											</div>
										</div>
									</div>
								</div>
								<!-- END PROFILE HEADER -->
								<!-- PROFILE DETAIL -->
								<div class="profile-detail">
									<div class="profile-info">
										<h4 class="heading">Informações Básicas</h4>
										<ul class="list-unstyled list-justify">
											<li>Aniversário <span>{{HomeCtrl.usuario.data_nascimento}}</span></li>
											<li>Celular <span>{{HomeCtrl.usuario.fone}}</span></li>
											<li>E-mail <span>{{HomeCtrl.usuario.email}}</span></li>
											<li>Website <span><a href="{{HomeCtrl.usuario.site}}">{{HomeCtrl.usuario.site}}</a></span></li>
										</ul>
									</div>
									<!--div class="profile-info">
										<h4 class="heading">Social</h4>
										<ul class="list-inline social-icons">
											<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" class="google-plus-bg"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#" class="github-bg"><i class="fa fa-github"></i></a></li>
										</ul>
									</div-->
									<div class="profile-info">
										<h4 class="heading">Sobre</h4>
										<p>{{HomeCtrl.usuario.descricao}}</p>
									</div>
									<!--div class="text-center"><a href="#" class="btn btn-primary">Editar Perfil</a></div-->
								</div>
								<!-- END PROFILE DETAIL -->
							</div>
							<!-- END LEFT COLUMN -->
							<!-- RIGHT COLUMN -->
							<div class="profile-right">
								<h4 class="heading">Itens em Destaques</h4>
								<!-- AWARDS -->
								<div class="awards">
									<div class="row">
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Total de Valor Pago">
												<div class="hexagon">
													<span class="lnr lnr-store award-icon"></span>
												</div>
												<span>Total de Valor Pago:</span></br>
												<span title="{{HomeCtrl.awardsMaisRecente.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsMaisRecente.imagem}}" data-lightbox="Jogo mais recente"
												data-title="{{HomeCtrl.awardsMaisRecente.titulo}}">{{HomeCtrl.totalValor.totalPago}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Valor Atual dos Itens">
												<div class="hexagon">
													<span class="lnr lnr-cart award-icon"></span>
												</div>
												<span>Valor Atual dos Itens:</span></br>
												<span title="{{HomeCtrl.awardsMaisRecente.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsMaisRecente.imagem}}" data-lightbox="Jogo mais recente"
												data-title="{{HomeCtrl.awardsMaisRecente.titulo}}">{{HomeCtrl.totalValor.totalAtual}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Jogo mais recente">
												<div class="hexagon">
													<span class="lnr lnr-calendar-full award-icon"></span>
												</div>
												<span>Item mais recente:</span></br>
												<span title="{{HomeCtrl.awardsMaisRecente.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsMaisRecente.imagem}}" data-lightbox="Jogo mais recente"
												data-title="{{HomeCtrl.awardsMaisRecente.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsMaisRecente.titulo)}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Maior Tempo">
												<div class="hexagon">
													<span class="lnr lnr-clock award-icon"></span>
												</div>
												<span>Maior tempo jogado:</span></br>
												<span title="{{HomeCtrl.awardsMaiorTempo.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsMaiorTempo.imagem}}" data-lightbox="Maior Tempo"
													data-title="{{HomeCtrl.awardsMaiorTempo.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsMaiorTempo.titulo)}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Mais Jogado">
												<div class="hexagon">
													<span class="lnr lnr-history award-icon"></span>
												</div>
												<span>Jogo mais jogado:</span></br>
												<span title="{{HomeCtrl.awardsMaisJogado.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsMaisJogado.imagem}}" data-lightbox="Mais Jogado" data-title="{{HomeCtrl.awardsMaisJogado.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsMaisJogado.titulo)}}</a></span>
											</div>
										</div>
									</div>
									
									<div class="row awards-comp" style="display:none;">
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Jogo Preferido">
												<div class="hexagon">
													<span class="lnr lnr-heart award-icon"></span>
												</div>
												<span>Jogo mais bem avaliado:</span></br>
												<span title="{{HomeCtrl.awardsAvaliado.titulo}}"><a href="./sistema/uploads/{{HomeCtrl.awardsAvaliado.imagem}}" data-lightbox="Jogo Preferido" style="cursor: pointer;" data-title="{{HomeCtrl.awardsAvaliado.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsAvaliado.titulo)}}</a></span>
											</div>
										</div>										
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Mais Caro">
												<div class="hexagon">
													<span class="lnr lnr-diamond award-icon"></span>
												</div>
												<span>Item mais caro:</span></br>
												<span title="{{HomeCtrl.awardsMaisCaro.titulo}}"><a href="./sistema/uploads/{{HomeCtrl.awardsMaisCaro.imagem}}" data-lightbox="Mais Caro" style="cursor: pointer;" data-title="{{HomeCtrl.awardsMaisCaro.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsMaisCaro.titulo)}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Pórtatil Preferido">
												<div class="hexagon">
													<span class="lnr lnr-thumbs-up award-icon"></span>
												</div>
												<span>Portátil mais bem avaliado:</span></br>
												<span title="{{HomeCtrl.awardsPortatilAvaliado.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsPortatilAvaliado.imagem}}" data-lightbox="Pórtatil Preferido" data-title="{{HomeCtrl.awardsPortatilAvaliado.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsPortatilAvaliado.titulo)}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Console Preferido">
												<div class="hexagon">
													<span class="lnr lnr-star award-icon"></span>
												</div>
												<span>Console mais bem avaliado:</span></br>
												<span title="{{HomeCtrl.awardsVideoGameAvaliado.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsVideoGameAvaliado.imagem}}" data-lightbox="Console Preferido" data-title="{{HomeCtrl.awardsVideoGameAvaliado.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsVideoGameAvaliado.titulo)}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Mais Completado">
												<div class="hexagon">
													<span class="lnr lnr-map award-icon"></span>
												</div>
												<span>Jogo mais completado:</span></br>
												<span title="{{HomeCtrl.awardsCompletado.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsCompletado.imagem}}" data-lightbox="Mais Completado" data-title="{{HomeCtrl.awardsCompletado.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsCompletado.titulo)}}</a></span>
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="award-item" style="text-align: -webkit-center;" title="Adaptador Preferido">
												<div class="hexagon">
													<span class="lnr lnr-keyboard award-icon"></span>
												</div>
												<span>Adaptador mais bem avaliado:</span></br>
												<span title="{{HomeCtrl.awardsAdaptadorAvaliado.titulo}}"><a style="cursor: pointer;" href="./sistema/uploads/{{HomeCtrl.awardsAdaptadorAvaliado.imagem}}" data-lightbox="Adaptador Preferido" data-title="{{HomeCtrl.awardsAdaptadorAvaliado.titulo}}">{{HomeCtrl.tratarTextoAwards(HomeCtrl.awardsAdaptadorAvaliado.titulo)}}</a></span>
											</div>
										</div>										
									</div>
									<div class="text-center"><a id="awards-plus" class="btn btn-default">Ver mais</a></div>
								</div>
								<!-- END AWARDS -->
								<!-- TABBED CONTENT -->
								<div class="custom-tabs-line tabs-line-bottom left-aligned">
									<ul class="nav" role="tablist"
>										<li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Gráfico</a></li>
										<li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Útimos Progressos &nbsp;&nbsp; <span class="badge">{{HomeCtrl.progressos.length}}</span></a></li>
										<li><a href="#tab-bottom-left3" role="tab" data-toggle="tab">Meus Video Games &nbsp;&nbsp; <span class="badge">{{HomeCtrl.videogames.length}}</span></a></li>
										<li><a href="#tab-bottom-left4" role="tab" data-toggle="tab">Atividades Recentes</a></li>
									</ul>
								</div>
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab-bottom-left1">
										<div class="panel">
											<!--div class="panel-heading">
												<h3 class="panel-title">Grafico dos </h3>
											</div-->
											<div class="panel-body">
												<div id="pie-simple-chart" class="ct-chart"></div>
												<span><b>Legendas:</b></span><br/>
												<span>{{HomeCtrl.percent[0]}}&nbsp; de jogos concluído(s)</span><br/>
												<span>{{HomeCtrl.percent[1]}}&nbsp; de jogos pendente(s)</span><br/>
												<span>{{HomeCtrl.percent[2]}}&nbsp; de jogos em progresso(s)</span>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab-bottom-left2">
										<div class="table-responsive">
											<table class="table project-table">
												<thead>
													<tr>
														<th>Título</th>
														<th>Progresso</th>														
														<th>Status</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="objeto in HomeCtrl.progressos" ng-class="{'progresso': $index > 3}">
														<td><a style="cursor: pointer;" ng-click="HomeCtrl.visualizar(objeto)">{{objeto.titulo}}</a></td>
														<td>
															<div class="progress">
																<div class="progress-bar" role="progressbar" aria-valuenow="{{objeto.progressao}}" aria-valuemin="0" aria-valuemax="100" style="width: {{objeto.progressao}}%;">
																	<span>{{objeto.progressao}}% Complete</span>
																</div>
															</div>
														</td>														
														<td><span class="label"
															ng-class="{
															'label-success': objeto.status == 'C',
															'label-danger': objeto.status == 'P',
														    'label-warning': objeto.status == 'E'}"
															>{{objeto.statusExtenso}}</span></td>
													</tr>													
												</tbody>
											</table>
											<div class="margin-top-30 text-center"><a id="progresso-plus" class="btn btn-default">Ver mais</a></div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab-bottom-left3">
										<div class="table-responsive">
											<table class="table project-table">
												<thead>
													<tr>
														<th>Título</th>
														<th>Empresa</th>
														<th>Região</th>
														<th>Tipo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="objeto in HomeCtrl.videogames" ng-class="{'videogame': $index > 3}">
														<td><a style="cursor: pointer;" ng-click="HomeCtrl.visualizar(objeto)">{{objeto.titulo}}</a></td>
														<td>{{objeto.produtora}}</td>
														<td>{{objeto.regiao}}</td>
														<td><span class="label" ng-class="{'label-success': objeto.tipo == 'Console',
															'label-info': objeto.tipo == 'Portátil'}" >{{objeto.tipo}}</span></td>
													</tr>
												</tbody>
											</table>
											<div class="margin-top-30 text-center"><a id="videogame-plus" class="btn btn-default">Ver mais</a></div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab-bottom-left4">
										<ul class="list-unstyled activity-timeline">
											<li ng-repeat="objeto in HomeCtrl.logs" ng-class="{'timeline': $index > 3}">
												<i class="fa activity-icon" ng-class="objeto.icone"></i>
												<p style="cursor: pointer;" ng-click="HomeCtrl.visualizarLog(objeto.id_item)">{{objeto.descricao}}</p>
											</li>
										</ul>
										<div class="margin-top-30 text-center"><a id="timeline-plus" class="btn btn-default">Ver mais</a></div>
									</div>																	
								</div>
								<!-- END TABBED CONTENT -->
							</div>
							<!-- END RIGHT COLUMN -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<script> 
var isAward = true;
var isTimeLine = true;
var isProgresso = true;
var isVideoGame = true;
$(document).ready(function(){
    $("#awards-plus").click(function(){
		if(isAward === true){
			$(".awards-comp").slideDown("slow");
			$("#awards-plus").html('Ver menos');
		}else if(isAward === false){
			$(".awards-comp").slideUp("slow");
			$("#awards-plus").html('Ver mais');
		}
		isAward = !isAward;
    });
    $("#timeline-plus").click(function(){
		if(isTimeLine === true){
			$(".timeline").slideDown("slow");
			$("#timeline-plus").html('Ver menos');
		}else if(isTimeLine === false){
			$(".timeline").slideUp("slow");
			$("#timeline-plus").html('Ver mais');
		}
		isTimeLine = !isTimeLine;
    });	


    $("#progresso-plus").click(function(){
		if(isProgresso === true){
			$(".progresso").slideDown("slow");
			$("#progresso-plus").html('Ver menos');
		}else if(isProgresso === false){
			$(".progresso").slideUp("slow");
			$("#progresso-plus").html('Ver mais');
		}
		isProgresso = !isProgresso;
    });	

    $("#videogame-plus").click(function(){
		if(isVideoGame === true){
			$(".videogame").slideDown("slow");
			$("#videogame-plus").html('Ver menos');
		}else if(isVideoGame === false){
			$(".videogame").slideUp("slow");
			$("#videogame-plus").html('Ver mais');
		}
		isVideoGame = !isVideoGame;
    });	        
});
</script>
<style type="text/css">
.timeline{
	display:none;
}
.progresso{
	display:none;
}
.videogame{
	display:none;
}
</style>