      <div class="main">
         <!-- MAIN CONTENT -->
         <div class="main-content">
            <div class="container-fluid">
               <h3 class="page-title">Listagem de Imagens dos Itens Cadastrados</h3>
         <div class="panel" id="filtro">
            <div class="panel-heading">
               <h3 class="panel-title">Filtros&nbsp;&nbsp;<span id="order-ico" class="lnr lnr-chevron-up" style="cursor:pointer;"></span></h3>
            </div>
            <div class="panel-body" >
               <div class="row" id="panel-body" style="display:none;">
                  <div class="col-lg-2">
                     <div class="form-group">
                        <label style="font-weight:lighter">Procedencia</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.procedencia">
                           <option value=""></option>
                           <option value="Original">Original</option>
                           <option value="Pirata">Pirata</option>
                        </select>
                     </div>
                  </div>
                  <!-- /.col-lg-3 -->
                  <div class="col-lg-2">
                     <div class="form-group">
                        <label style="font-weight:lighter">Região</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.regiao" ng-options="valor as valor for valor in ItemGaleriaCtrl.regioes track by valor">
                           <option value=""></option>
                        </select>
                     </div>
                  </div>
                  <!-- /.col-lg-3 -->
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Plataforma</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.plataforma" ng-options="valor as valor for valor in ItemGaleriaCtrl.plataformas track by valor">
                           <option value="" class="" selected="selected"></option>
                        </select>
                     </div>
                  </div>
                  <!-- /.col-lg-3 -->
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Tipo</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.tipo" ng-options="valor as valor for valor in ItemGaleriaCtrl.tipos track by valor">
                           <option value="" class="" selected="selected"></option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-2">
                     <div class="form-group">
                        <label style="font-weight:lighter">Total por Página</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.registrosPorPagina" >
                           <option value="12" selected="selected">12</option>
                           <option value="18" >18</option>
                           <option value="24">24</option>
                           <option value="48">48</option>
                     <option value="9999">Todos</option>
                        </select>
                     </div>
                  </div>
                  <!-- /.col-lg-3 --> 
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Ordem</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.ordem" >
                           <option value="id" selected="selected">Identificador</option>
                           <option value="data_cadastro">Data de Cadastro</option>
                           <option value="titulo">Titulo</option>
                           <option value="descricao">Descrição</option>
                           <option value="procedencia">Procedencia</option>
                           <option value="regiao">Região</option>
                           <option value="valor_pago">Valor Pago</option>
                           <option value="valor_atual">Valor Atual</option>
                           <option value="plataforma">Plataforma</option>
                           <option value="tipo">Tipo</option>
                           <option value="codigo">Código</option>
                           <option value="genero">Genero</option>
                           <option value="produtora">Produtora</option>
                           <option value="publicadora">Publicadora</option>
                           <option value="complemento">Complemento</option>
                           <option value="avaliacao">Avaliacao</option>
                           <option value="local_primeiro">Local Primeiro</option>
                           <option value="local_segundo">Local Secundário</option>
                           <option value="local_terceiro">Local Terciário</option>
                           <option value="flag_cartucho_disco">Cartucho ou Disco</option>
                           <option value="flag_replica">Réplica</option>
                           <option value="flag_protetor">Protetor</option>
                           <option value="flag_cd_dvd">Cd ou Dvd</option>
                           <option value="flag_caixa">Caixa</option>
                           <option value="flag_manual">Manual</option>
                           <option value="flag_berco">Berço</option>
                           <option value="flag_panfleto">Panfleto</option>
                           <option value="flag_poster">Poster</option>
                           <option value="flag_nota_fiscal">Nota Fiscal</option>
                           <option value="flag_lacrado">Lacrado</option>
                           <option value="flag_luva">Luva</option>
                           <option value="status">Status</option>
                           <option value="tempo">Tempo</option>
                           <option value="num_jogadas">Número de Jogadas</option>
                           <option value="progressao">Progressão</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Produtora</label>
                        <input ng-model="ItemGaleriaCtrl.item.produtora" type="text" class="form-control">                                     
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Publicadora</label>
                        <input ng-model="ItemGaleriaCtrl.item.publicadora" type="text" class="form-control">                                        
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Status</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.status">
                           <option value=""></option>
                           <option value="C">Completo</option>
                           <option value="P">Pendente</option>
                           <option value="E">Em Progressão</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Gênero</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.genero" ng-options="valor as valor for valor in ItemGaleriaCtrl.generos track by valor">
                           <option value="" class="" selected="selected"></option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Possui o item?</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.possui">
                           <option value="" selected></option>
                           <option value="1">Sim</option>
                           <option value="0">Não</option>       
                        </select>
                     </div>
                  </div>                  
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Situação Atual</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.situacao" ng-options="valor as valor for valor in ItemGaleriaCtrl.situacoes track by valor">
                           <option value=""></option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="form-group">
                        <label style="font-weight:lighter">Modo Exibição</label>
                        <select class="form-control" ng-model="ItemGaleriaCtrl.item.modo">
                           <option value="" selected>Todas</option>
                           <option value="1">Imagem principal</option>
                           <option value="2">Imagens secundaria</option>       						   
                        </select>
                     </div>
                  </div>     				  
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="form-group">
                        <label style="font-weight:lighter">Titulo, Descrição, Informações Gerais</label>
                        <input ng-model="ItemGaleriaCtrl.item.titulo" type="text" class="form-control">                    
                     </div>
                  </div>
               </div>
               <div class="row hidden-xs" style="margin-top:10px">
                  <div class="col-lg-12">
                     <button type="submit" class="btn btn-primary btn-closed" ng-click="ItemGaleriaCtrl.pesquisar()">Pesquisar</button>
                     <button type="reset" class="btn btn-danger btn-closed" ng-click="ItemGaleriaCtrl.limparCampos()">Limpar Campos</button>
                  </div>
               </div>
               <div class="row visible-xs" style="margin-top:10px" id="topo">
                  <div class="col-lg-12">
                     <button type="submit" class="btn btn-primary col-xs-12 btn-closed"  ng-click="ItemGaleriaCtrl.pesquisar()">Pesquisar</button>
                     <button type="reset" class="btn btn-danger col-xs-12 btn-closed" style="margin-top:10px" ng-click="ItemGaleriaCtrl.limparCampos()">Limpar Campos</button>
                  </div>
               </div>                  
            </div>
         </div>               
               <div class="row">
                  <div class="col-md-12">
                     <!-- TABLE STRIPED -->
                     <div class="panel">
                        <div class="panel-heading" style="margin-bottom:-20px">
                           <h3 class="panel-title">Listagem</h3>
                        </div>
                        <div class="panel-body">
                           <div class="hidden-xs">
                              <div class="row " ng-repeat="linha in ItemGaleriaCtrl.itens">
                                 <div class="col-md-2" ng-repeat="objeto in linha">
								   <img ng-click="ItemGaleriaCtrl.visualizar(objeto.item)" src="{{objeto.imagem || './assets/img/default.jpg'}}" alt="{{objeto.titulo}}" style="cursor:pointer;margin-top:20px" class="img-thumbnail">
                                 </div>
                              </div>   
                           </div>                 
                           <div class="visible-xs">       
                              <div class="row" ng-repeat="linha in ItemGaleriaCtrl.itensMobile">
                                <div ng-repeat="objeto in linha">
                                    <a href="#" >
                                       <div  ng-click="ItemGaleriaCtrl.visualizar(objeto.item)" class="someDiv" id="{{$index}}-div" style="cursor:pointer;margin:0px;width:33%;float:left;
                                       background-image:url({{objeto.imagem}});background-repeat: no-repeat;background-position:center;"></div>
                                    </a>
                                   <img src="{{objeto.imagem || './assets/img/default.jpg'}}" id="{{$index}}-img" alt="{{objeto.titulo}}" 
                                        onload="redimencionar(this);" style="display:none;">
                                </div> 
                              </div>                           
                           </div>
                          <div class="row hidden-xs" style="margin-top:10px">
                              <div class="col-lg-12">
                                 <button type="reset" class="btn btn-danger btn-closed" ng-click="ItemGaleriaCtrl.topoPagina()">Topo da página</button>
                              </div>
                           </div>
                           <div class="row visible-xs" style="margin-top:10px">
                              <div class="col-lg-12">
                                 <button type="reset" class="btn btn-danger col-xs-12 btn-closed" style="margin-top:10px" ng-click="ItemGaleriaCtrl.topoPagina()">Topo da página</button>
                              </div>
                           </div>                               
                        </div>
                     </div>
                     <!-- END TABLE STRIPED -->
                  </div>
               </div>
      <div class="row hidden-xs">
            <div class="col-sm-5" style="margin-top: 25px; ">
               <div class="dataTables_info">Página <b>{{ItemGaleriaCtrl.currentPage}}</b> de <b>{{numPages}}</b> de um total de <b>{{ItemGaleriaCtrl.totalItems}}</b> registros.</div>
            </div>
            <div class="col-sm-7">
               <div class="dataTables_paginate paging_simple_numbers">
               <ul uib-pagination 
                 total-items="ItemGaleriaCtrl.totalItems" 
                 ng-model="ItemGaleriaCtrl.currentPage"
                 items-per-page="ItemGaleriaCtrl.item.registrosPorPagina" 
                 max-size="ItemGaleriaCtrl.maxSize" 
                 class="dataTables_paginate paging_simple_numbers " 
                 boundary-links="true"
                 ng-change="ItemGaleriaCtrl.pageChanged()"                 
                 rotate="true"
                 boundary-link-numbers="false"
                 force-ellipses="true" 
                 num-pages="numPages"
                 previous-text="Próximo" next-text="Anterior" first-text="Primeira" last-text="Útima"
                 >
               </ul>            
               </div>
            </div>
         </div>
         <div class="row visible-xs">
            <div class="col-sm-5" style="text-align:center;">
               <div class="dataTables_info">Página <b>{{ItemGaleriaCtrl.currentPage}}</b> de <b>{{numPages}}</b> de um total de <b>{{ItemGaleriaCtrl.totalItems}}</b> registros.</div>
            </div>
            <div class="col-sm-7" style="text-align:center;">
               <div class="dataTables_paginate paging_simple_numbers">            
               <ul uib-pagination 
               direction-links="false"
               class=" dataTables_paginate paging_simple_numbers" 
               total-items="ItemGaleriaCtrl.totalItems" 
               ng-model="ItemGaleriaCtrl.currentPage"
               ng-change="ItemGaleriaCtrl.pageChanged()"
               force-ellipses="true" 
               max-size="ItemGaleriaCtrl.maxSize"               
               rotate="true" 
               items-per-page="ItemGaleriaCtrl.item.registrosPorPagina" 
               num-pages="smallnumPages">
               </ul>
               </div>
            </div>
         </div>                 
            </div>
         </div>
         <!-- END MAIN CONTENT -->
      </div>
      <script> 
var isOrder = true;


$(document).ready(function(){
    $("#order-ico").click(function(){
      if(isOrder === true){
         $("#order-ico").removeClass("lnr-chevron-up");
         $("#order-ico").addClass("lnr-chevron-down");
         $("#panel-body").slideDown("slow");
      }else if(isOrder === false){
         $("#order-ico").addClass("lnr-chevron-up");
         $("#order-ico").removeClass("lnr-chevron-down");      
         $("#panel-body").slideUp("slow");
      }
      isOrder = !isOrder;
    });

    $(".btn-closed").click(function(){
      $("#order-ico").addClass("lnr-chevron-up");
      $("#order-ico").removeClass("lnr-chevron-down");      
      $("#panel-body").slideUp("slow");
      isOrder = false;
    });

   var newNumber = $('.someDiv').width();
   $('.someDiv').css("height", newNumber); 
});

function redimencionar(elemento){
   var heightOriginal = $(elemento).height();
   var widthOriginal = $(elemento).width();
   var pai = $(elemento).parent();
   var kid = pai.children().children();
   var heightKid = kid.height();
   var widthKid = kid.width();
   var pixel = '';
   if(widthOriginal > heightOriginal){
      $(kid).css('background-size', ' '+Math.round((heightKid / heightOriginal)*widthOriginal)+'px '+heightKid+'px ');
   }else if(widthOriginal < heightOriginal){
      $(kid).css('background-size', ' '+widthKid+'px '+Math.round((widthKid / widthOriginal)*heightOriginal)+'px ')
   }else{
      $(kid).css('background-size', ' '+widthKid+'px '+heightKid+'px ');
   }
}
   

</script>