<div class="main">
   <!-- MAIN CONTENT -->
   <div class="main-content">
      <div class="container-fluid">
         <form name="userForm">
         <h3 class="page-title">{{UserManterCtrl.titulo}} </h3>


        <div ng-repeat="alert in UserManterCtrl.alerts" class="row">
          <div class="col-md-12">      
            <div class="alert alert-dismissible" ng-class="alert.type" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="UserManterCtrl.closeAlert($index)"><span aria-hidden="true">&times;</span></button>
               <i class="fa fa-times-circle"></i> {{alert.msg}}
            </div>
          </div>
        </div>
         
         <div class="row">
            <div class="col-md-6">
               <!-- INPUTS -->
               <div class="panel">
                  <div class="panel-heading">
                     <h3 class="panel-title">Imagens de capa e screenshots</h3>
                  </div>
                  <div class="panel-body">
                     <div class="custom-tabs-line tabs-line-bottom left-aligned">
                        <ul class="nav" role="tablist">
                           <li class="active"><a href="#tab-image-left1" role="tab" data-toggle="tab">Imagem do Usuário</a></li>
                           <li><a href="#tab-image-left2" role="tab" data-toggle="tab">Imagem de Fundo do Usuário</a></li>                          
                        </ul>
                     </div>
                     <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-image-left1">
                           <div class="row">
                              <div class="col-md-12">                                 
                                 <div class="input-group">
                                    <input   value="" 
                                             class="form-control" 
                                             placeholder="Search dashboard..."
                                             name="image" 
                                             accept="image/*" 
                                             required="false" 
                                             id="foto" 
                                             type="file"
                                             onchange="angular.element(this).scope().uploadFile(this,1)"
                                             ng-disabled="UserManterCtrl.isView">
                                    <span class="input-group-btn"><button type="button" ng-disabled="UserManterCtrl.isView" ng-click="UserManterCtrl.removerImagem(userForm,1)" class="btn btn-primary">Remover</button></span>
                                 </div>
                              </div>
                           </div>                       
                           <div class="row">
                              <div class="col-md-12 text-center">
                                 <a href="{{UserManterCtrl.user.foto || './assets/img/default.jpg'}}" data-lightbox="image-1" data-title="{{UserManterCtrl.user.nome}}">
                                    <img src="{{UserManterCtrl.user.foto || './assets/img/user-medium.png'}}"                                  
                                  alt="..." class="img-thumbnail">
                                 </a>
                              </div>
                           </div>                         
                        </div>
                        <div class="tab-pane fade" id="tab-image-left2">
                           <div class="row">
                              <div class="col-md-12">                                 
                                 <div class="input-group">
                                    <input   value="" 
                                             class="form-control" 
                                             placeholder="Search dashboard..."
                                             name="fundo" 
                                             accept="image/*" 
                                             required="false" 
                                             id="fundo" 
                                             type="file"
                                             onchange="angular.element(this).scope().uploadFile(this,2)"
                                             ng-disabled="UserManterCtrl.isView">
                                    <span class="input-group-btn"><button type="button" ng-disabled="UserManterCtrl.isView" ng-click="UserManterCtrl.removerImagem(userForm,2)" class="btn btn-primary">Remover</button></span>
                                 </div>
                              </div>
                           </div>                       
                           <div class="row">
                              <div class="col-md-12 text-center">
                                 <a href="{{UserManterCtrl.user.fundo || './assets/img/default.jpg'}}" data-lightbox="image-2" data-title="{{UserManterCtrl.user.nome}}">
                                    <img src="{{UserManterCtrl.user.fundo || './assets/img/profile-bg.png'}}"                                  
                                  alt="..." class="img-thumbnail">
                                 </a>
                              </div>
                           </div>  
                        </div>
                     </div>
                  </div>
               </div>
               <!-- END INPUTS -->
            </div>
            <div class="col-md-6">
               <!-- INPUTS -->
               <div class="panel">
                  <div class="panel-heading">
                     <h3 class="panel-title">Informações do usuário</h3>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label style="font-weight:lighter">Nome do Usuário</label>
                              <input type="text" required class="form-control mgs_alerta" ng-disabled="UserManterCtrl.isView" placeholder=""  ng-model="UserManterCtrl.user.nome">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label style="font-weight:lighter">E-Mail</label>
                              <input type="text" required class="form-control mgs_alerta" ng-disabled="UserManterCtrl.isView" placeholder=""  ng-model="UserManterCtrl.user.email">
                           </div>
                        </div>
                     </div>                                        
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label style="font-weight:lighter">Descrição</label>
                              <textarea class="form-control" ng-disabled="UserManterCtrl.isView" placeholder="" ng-model="UserManterCtrl.user.descricao" rows="4"></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label style="font-weight:lighter">Site</label>
                              <input type="text" class="form-control" ng-disabled="UserManterCtrl.isView" placeholder=""  ng-model="UserManterCtrl.user.site">
                           </div>
                        </div>
                     </div>                     
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <label style="font-weight:lighter">Data de Nascimento</label>
                              <input type="text" 
                              maxlength="11" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_"
                              class="form-control" ng-disabled="UserManterCtrl.isView" placeholder=""  ng-model="UserManterCtrl.user.data_nascimento">
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label style="font-weight:lighter">Telefone</label>
                              <input type="text" 
                              ui-mask="(99) 9999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_"
                              class="form-control" ng-disabled="UserManterCtrl.isView" placeholder=""  ng-model="UserManterCtrl.user.telefone">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END INPUTS -->
         </div>
         <!--div class="row">
            <div class="col-md-12">
               <p class="demo-button">
                  <button ng-click="UserManterCtrl.cadastrar(userForm)" id="btn-salvar"  ng-disabled="UserManterCtrl.isView" type="button" class="btn btn-primary">Salvar</button>
                  <button ui-sref='home' type="button" class="btn btn-danger">Cancelar</button>
               </p>
            </div>
         </div-->


         <div class="row hidden-xs">
            <div class="col-md-12">
               <p class="demo-button">
                  <button ng-click="UserManterCtrl.cadastrar(userForm)" id="btn-salvar" ng-disabled="UserManterCtrl.isView" type="button" class="btn btn-primary">Salvar</button>
                  <button ui-sref='home' type="button" class="btn btn-danger">Cancelar</button>
               </p>               
            </div>
         </div>  
         <div class="row visible-xs">
            <div class="col-md-12">
               <p class="demo-button">
                  <button ng-click="UserManterCtrl.cadastrar(userForm)" id="btn-salvar2" ng-disabled="UserManterCtrl.isView" type="button" class="btn btn-primary col-xs-12 ">Salvar</button>
                  <button ui-sref='home' type="button" class="btn btn-danger col-xs-12"  style="margin-bottom:40px; ">Cancelar</button>
               </p>               
            </div>
         </div>             
         </form>
      </div>
   </div>
</div>
<script> 
   $(document).ready(function(){
      $('#btn-salvar').on('click',function(){
         $('.mgs_alerta').each(function(){            
            if($(this).val() == '' || $(this).val() == null){               
               $(this).addClass('error'); 
            }else{
               $(this).removeClass('error');
            }        
         });   
      }); 
      $('#btn-salvar2').on('click',function(){
         $('.mgs_alerta').each(function(){            
            if($(this).val() == '' || $(this).val() == null){               
               $(this).addClass('error'); 
            }else{
               $(this).removeClass('error');
            }        
         });   
      });       
   });   
</script>