<div class="main">
   <!-- MAIN CONTENT -->
   <div class="main-content">
      <div class="container-fluid">
         <form name="userForm">
         <h3 class="page-title">{{UserSenhaCtrl.titulo}} </h3>

        <div ng-repeat="alert in UserSenhaCtrl.alerts" class="row">
          <div class="col-md-12">      
            <div class="alert alert-dismissible" ng-class="alert.type" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="UserSenhaCtrl.closeAlert($index)"><span aria-hidden="true">&times;</span></button>
               <i class="fa fa-times-circle"></i> {{alert.msg}}
            </div>
          </div>
        </div>
                 
         <div class="row">
            <div class="col-md-6">
               <!-- INPUTS -->
               <div class="panel">
                  <div class="panel-heading">
                     <h3 class="panel-title">Informe as nova senha</h3>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label style="font-weight:lighter">Nova Senha</label>
                              <input required type="password" class="form-control mgs_alerta" placeholder=""  ng-model="UserSenhaCtrl.user.senha_nova">
                           </div>
                        </div>
                     </div>                                        
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label style="font-weight:lighter">Repetir Nova Senha</label>
                              <input required type="password" class="form-control mgs_alerta" placeholder=""  ng-model="UserSenhaCtrl.user.senha_confirm">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END INPUTS -->
         </div>
         <!--div class="row">
            <div class="col-md-12">
               <p class="demo-button">
                  <button ng-click="UserSenhaCtrl.cadastrar(userForm)" id="btn-salvar"  ng-disabled="UserSenhaCtrl.isView" type="button" class="btn btn-primary">Salvar</button>
                  <button ui-sref='home' type="button" class="btn btn-danger">Cancelar</button>
               </p>
            </div>
         </div-->   

         <div class="row hidden-xs">
            <div class="col-md-12">
               <p class="demo-button">
                  <button ng-click="UserSenhaCtrl.cadastrar(userForm)" id="btn-salvar" ng-disabled="UserSenhaCtrl.isView" type="button" class="btn btn-primary">Salvar</button>
                  <button ui-sref='home' type="button" class="btn btn-danger">Cancelar</button>
               </p>               
            </div>
         </div>  
         <div class="row visible-xs">
            <div class="col-md-12">
               <p class="demo-button">
                  <button ng-click="UserSenhaCtrl.cadastrar(userForm)" id="btn-salvar2" ng-disabled="UserSenhaCtrl.isView" type="button" class="btn btn-primary col-xs-12 ">Salvar</button>
                  <button ui-sref='home' type="button" class="btn btn-danger col-xs-12"  style="margin-bottom:40px; ">Cancelar</button>
               </p>               
            </div>
         </div>            
         </form>
      </div>
   </div>
</div>
<script> 
   $(document).ready(function(){
      $('#btn-salvar').on('click',function(){
         $('.mgs_alerta').each(function(){            
            if($(this).val() == '' || $(this).val() == null){               
               $(this).addClass('error'); 
            }else{
               $(this).removeClass('error');
            }        
         });   
      }); 
      $('#btn-salvar2').on('click',function(){
         $('.mgs_alerta').each(function(){            
            if($(this).val() == '' || $(this).val() == null){               
               $(this).addClass('error'); 
            }else{
               $(this).removeClass('error');
            }        
         });   
      });       
   });   
</script>